*{
    font-size: 30px;
}

h1{
    font-size: 40px;
    padding-bottom: 10px;
}

form {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}


textarea{
    font: 1em sans-serif;
}

input::placeholder{
    font-style: italic;
}

input{
    border-radius: 7px;
}

textarea{
    border-radius: 7px;
}

select{
    border-radius: 7px;
}

table {
    box-shadow: 0px 0px 25px 5px black;
    background-image: url("ITERA.jpg");
    background-size: 265px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color:cornflowerblue;
    border-radius: 7px;
    border: solid 1pt black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

